.div-bar{
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to right, #1BABA6 50%, #F2A828 50%);
  opacity: 0.7;
}

.container-percentage{
  display: flex;
  justify-content: space-between;

  .percentage-value{
    display: flex;
    margin: 11px 0;

    .mat-icon{
      color: white;
      margin-right: 10px;
      margin-left: 10px;
    }

    .mat-down-icon{
      margin-top: 2px;
    }
  }

  p{
    color: white;
    font-size: 25px;
    margin: auto 0;
    z-index: 100;
  }
  .p-thumb-up{

  }

  .p-thumb-down{
    margin-right: 10px;
  }
}
